@media screen and (min-width: 600px){
}

@media screen and (min-width: 1150px){
  .user-table{
    background-color: gray;
    color: white;
    position: absolute;
    top: 50px;
    bottom: 0px;
  }

  .blue-text {
    font-size: 20px;
    color: #00BFFF;
    font-weight: bold;
  }

  .user-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;
  }

  .task {
    text-align: center;
    border-bottom: 0.5px solid gray;
  }

  .stat-horizontal{
    margin: 20px;
    margin-bottom: 10px;
    padding: 23px;
    background-color: #fff;
    box-shadow: 0.5 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0.5px 1px 0 rgba(0, 0, 0, 0.19);
  }

  .user-data{
    background-color: #fff;
    padding: 20px 80px;
  }

  .user-detail {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 3px 2px 2px 2px rgba(0, 0, 0, 0.19);
  }

  .user-text {
    align-self: center;
  }

  .user-label {
    font-size: 20px;
  }

  .user-detail img {
    margin-right: 15px;
  }
  .team {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .recent-task {
    padding: 40px;
    align-self: center;
  }

  .white {
    background-color: #fff;
  }
  .vendor-num{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 20px;
  }
}
